<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <div class="menu-icon">
          {% include fa-bars-solid.svg %}
        </div>
      </div>
      <nav class="main-nav">
        <div class="menu-icon-close">
          {% include fa-times-solid.svg %}
        </div>
        <ul>
          <li><a href="{{site.baseurl}}/">Blog</a></li>
          <li><a href="{{site.baseurl}}/about">About</a></li>
        </ul>
      </nav>
      <p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>
      <div class="search-icon-container">
        <div class="search-icon">
          <a>
            {% include fa-search-solid.svg %}
          </a>
        </div>
      </div>
    </div>
  </div>
</header> <!-- End Header -->
